#banner {
    display: flex;
    flex-direction: row;
}
#softwareWindow {
    height: 100vh;
    width: auto;
    aspect-ratio: 1/1;
}

@media (max-aspect-ratio: 155/100) {
    #banner {
        flex-direction: column;
        text-align: center;
    }
    #introText > div,
    #introText > h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #introText_iconsBox{
        justify-content: center;
    }
    #softwareWindow {
        height: auto;
        width: 100vw;
    }
}
