.slice {
    height: 50vh;
    width: 100%;
    display: flex;
}

.projectWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 2rem;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
}
.projectWrapper img {
    flex: 1; /* Use flex shorthand to distribute space equally */
    max-width: 50%; /* Set maximum width for the image */
}

.projectWrapper h1 {
    flex: 1; /* Use flex shorthand to distribute space equally */
    font-size: 2rem;
    font-weight: 700;
    max-width: 40%; /* Set maximum width for the h1 element */
}
.minimized-enter{
    opacity: 0;
}
.minimized-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}
.minimized-exit{
    opacity: 1;
}
.minimized-exit-active{
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.maximized-enter{
    opacity: 1;
}
.maximized-enter-active{
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.maximized-exit{
    opacity: 0;
}
.maximized-exit-active{
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}


@media (max-aspect-ratio: 155/100) {
    .slice{
        flex-direction: column;
        height: fit-content;
    }
    .projectWrapper{
        height: 50vh;
    }
}

@media (max-width: 450px) {
    .projectWrapper{
        flex-direction: column;
        align-items: center;
    }
    .projectWrapper h1{
        text-align: center;
        width: 80%;
        max-width: none;
    }
    .projectWrapper img{
        width: 80%;
        max-width: none;
    }
}